html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: 'Courier Prime', monospace;
    transition: background-color 0.3s, color 0.3s;
}

body {
    background-color: white;
    color: #0d1117;
}

body.dark-mode {
    background-color: #0d1117;
    color: #ddd;
}

p {
    display: inline;
}

a { 
    display: inline;
    font-size: 17px;
    color: inherit; 
    font-weight: 550;
    transition: color 0.3s;
}

a:hover {
    font-weight: 900;
}

.container {
    max-width: 900px;    
    padding: 50px;
    color: black;
    background-color: white;
    transition: background-color 0.3s, color 0.3s; 
    height: auto;

    box-sizing: border-box; 
    min-height: 90vh;
    max-height: 100vh; 
}

.container.dark-mode {
    max-height: 100vh; 
    background-color: #0d1117;
    color: #ddd;
}

.container.dark-mode a {
    color: #77bdfb; 
    font-weight: 550;
}

.container.dark-mode a:hover {
    color: #bee1ff; 
    font-weight: 900;
}

.title_container {
    margin-bottom: -10px;
}

.links_container {
    margin-bottom: 20px;
}

.links_container a {
    margin-right: 20px;
}

.dark-mode-toggle {
    width: 30px;
    font-size: 30px; 
    cursor: pointer;
    color: inherit; 
    transition: color 0.3s;
}

.container.dark-mode .dark-mode-toggle {
    color: white; 
}

.dark-mode-toggle i {
    transition: color 0.3s;
}

.dark-mode-toggle i.fa-moon {
    color: #000; 
}

.container.dark-mode .dark-mode-toggle i.fa-sun {
    color: white;
}


/* For Mobile App */
@media (max-width: 480px) {
    .container {
        margin-top: 75px;
        padding: 50px;
    }

    .dark-mode-toggle {
        margin-bottom: 30px;
    }

    h1 {
        font-size: 20px; 
        line-height: 0.8;
        margin-bottom: 70px;
    }

    h2 {
        font-size: 11px; 
    }

    p {
        font-size: 10px; 
    }

    .links_container a {
        margin-right: 10px;
    }
}